* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.banner1 img {
  max-width: 100%;
  position: relative;
}
.app {
  box-sizing: border-box;
  z-index: 1;
}
header img {
  position: absolute;
  z-index: 5;
  padding-top: 40px;
}
.container {
  padding-left: 17%;
}
.content {
  position: absolute;
  z-index: 5;
  top: 30%;
  color: azure;
  display: flex;
}
.content-left {
  width: 30%;
  margin-right: 250px;
}
.content-right {
  width: 30%;
  display: inline-block;
}
.content-left span {
  font-size: 50px;
  padding-bottom: 40px;
}
.content-left p {
  font-size: 20px;
}
.footer {
  height: 100px;
  background-color: aqua;
}
.content-right span {
  font-size: 35px;
  padding-bottom: 40px;
}
.content-right input {
  height: 40px;
  width: 100%;
  margin-bottom: 40px;
}
.content-right p {
  margin-bottom: 30px;
}
